@{
    ViewBag.Title = "Find";
}
<div class="col-sm-6">
    <h2><i class="glyphicon glyphicon-grain"></i>Find</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        
        <div>

            <div class="editor-label">
                <label class="form-control">Term</label>
            </div>
            <div class="editor-field">
                @Html.TextBox("Term", "", new { @class = "form-control" ,@placeholder = "type here..."})
                
            </div>

            <p class="pad10">
                <input type="submit" required value="search" class="btn btn-lg- btn-primary" />
            </p>
        </div>
    }
    <div class="col-lg-6">
        @if (ViewBag.list != null)
        {
            if (((List<string>) ViewBag.list).Count > 0)
            {
                foreach (var l in (List<string>) ViewBag.list)
                {
                    <span class="upperLine block"><i class="glyphicon glyphicon-menu-right"></i> @l</span>
                }
            }
            else{
        
            <span class="form-control">No data</span>
                }
        }
        
    </div>
    <div class="col-sm-6">
        @Html.ActionLink("Back to home", "Index", "Home",null, new { @class = "btn btn-default btn-lg" })
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</div>